# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build outputs
dist/
build/

# Temporary files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
*.lcov

# IDE specific files
.idea/
.vscode/
